<div class="container content">
    <form method="post"
          action="/tournament/{% if tournament.id %}edit/{{ tournament.id }}{% else %}add/{% endif %}"
          class="tournament">

        <input name="token_tournament" type="hidden"
               value="{{ session.token_tournament }}">

        {% if tournament.id %}
            <h1>Редактирование турнира</h1><br>
        {% else %}
            <h1>Создание турнира</h1><br>
        {% endif %}


        {% if errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in errors %}
                    <span class="error-messages">{{ error }}</span><br>
                {% endfor %}
            </div>
        {% endif %}

        <div class="form-group row">
            <label for="t_name" class="col-sm-2 col-form-label">Название турнира</label>
            <div class="col">
                <input name="t_name" type="text" class="form-control" id="t_name" placeholder="Название турнира"
                       value="{{ tournament.name }}">
            </div>
        </div>

        <div class="form-group row">
            <label for="t_date" class="col-sm-2 col-form-label">Дата турнира</label>
            <div class="col">
                <input name="t_date" type="date" class="form-control" id="t_date" placeholder="Дата турнира"
                       value="{{ tournament.date }}">
            </div>
        </div>

        <div class="form-group row">
            <label for="t_type" class="col-sm-2 col-form-label">Тип турнира</label>
            <div class="col">
                <select name="t_type" class="form-control" id="t_type">
                    <option value="1" {% if tournament.type == 1 %} selected {% endif %}>
                        Обычный турнир
                    </option>
                    <option value="2" {% if tournament.type == 2 %} selected {% endif %}>
                        Межрегиональный турнир
                    </option>
                </select>
            </div>
        </div>

        <div id="regions_row" class="form-group row">
            <label for="t_regions" class="col-sm-2 col-form-label">Регионы</label>
            <div class="col">
                <textarea name="t_regions" class="form-control" id="t_regions"
                          placeholder="Введите названия регионов через запятую"></textarea>
            </div>
        </div>

        <div class="form-group row">
            <label for="t_prize_pool" class="col-sm-2 col-form-label">Призовой фонд</label>
            <div class="col">
                <input name="t_prize_pool" type="number" class="form-control" id="t_prize_pool"
                       placeholder="Призовой фонд"
                       value="{{ tournament.prizepool }}">
            </div>
        </div>

        <div class="form-group row">
            <label for="p_nickname" class="col-sm-2 col-form-label">Данные игроков</label>
            <div class="col w-100 players no-gutters">
                {% if tournament.players %}
                    {% for player in tournament.players %}
                        <div class="player col">
                            <div class="row mb-2">
                                <div class="col">
                                    <input name="players[{{ loop.index0 }}][nickname]" type="text"
                                           class="form-control" id="p_nickname"
                                           placeholder="Ник" value="{{ player.nickname }}">
                                </div>
                                <div class="col p_region" style="display: none">
                                    <select name="players[{{ loop.index0 }}][region]" class="form-control" disabled>
                                        <option value="" disabled selected>Выберите регион</option>
                                        {% if tournament.regions %}
                                            {% for region in tournament.regions %}
                                                <option value='{{ region }}' class='new_option'>{{ region }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                                <div class="col-2">
                                    <button type="button" class="w-100 btn-sm btn-danger deleteRow">Удалить</button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="player col">
                        <div class="row mb-2">
                            <div class="col">
                                <input name="players[0][nickname]" type="text"
                                       class="form-control" id="p_nickname"
                                       placeholder="Ник">
                            </div>
                            <div class="col p_region" style="display: none">
                                <select name="players[0][region]" class="form-control" disabled>
                                    <option value="" disabled selected>Выберите регион</option>
                                </select>
                            </div>
                            <div class="col-2">
                                <button type="button" class="w-100 btn-sm btn-danger deleteRow">Удалить</button>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>


        <div class="form-group row">
            <button type="button" class="btn btn-secondary btn-block" id="addrow">Добавить игрока</button>
        </div>
        <br>
        <div class="form-group row">
            <div>
                <button name="submit" type="submit" class="btn btn-primary btn-block">Сохранить турнир</button>
            </div>
        </div>
    </form>
</div>

<script>
    {{ source('/js/tournament_add.js')|raw }}
</script>
