{% set t = tournament %}
<div class="container content tournament">
    <div class="jumbotron-fluid">
        <h1 class="display-4">Турнир {{ t.name }}</h1>
        <p class="lead">Дата проведения: {{ t.date }}</p>
        <hr class="my-4">
        {% if t.status == 'ended' %}
            <p>Всего раундов: {{ t.current_round }}</p>
        {% endif %}
        {% if t.status != 'ended' and t.estimation %}
            {% if t.current_round %}

                <p>Текущий раунд: {{ t.current_round }}</p>
            {% endif %}
            {% if t.estimation %}
                <p>Оценка количества раундов до конца турнира: {{ t.estimation }}</p>
            {% endif %}
        {% endif %}
        {% if is_owner %}
            <p class="lead">
                <a class="btn btn-secondary schedule" role="button">Скопировать ссылку на расписание турнира</a>
            </p>
        {% endif %}
    </div>

    <br>
    {% if errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in errors %}
                <span class="error-messages">{{ error }}</span><br>
            {% endfor %}
        </div>
    {% endif %}
    <form method="post" action="/tournament/show/{{ t.id }}/">
        <div>
            <input name="token_tournament" type="hidden"
                   value="{{ session.token_tournament }}">

            {% if t.status == 'awaiting' %}
                {% include 'awaiting.twig' %}
            {% endif %}

            {% if t.status == 'in progress' %}
                {% include 'in_progress.twig' %}
            {% endif %}

            {% if t.status == 'ended' %}
                {% include 'ended.twig' %}
            {% endif %}
        </div>

    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>
<script>
    {{ source('/js/tournament_show.js')|raw }}
</script>
